* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  }
  
  .wrapper {
    width: 95%;
    margin: auto;
  }
  #search-container {
    margin: 1em 0;
        display: flex;
      align-items: center;
  }
  #search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
  }
  #search-container input:focus {
    border-bottom-color: #6759ff;
  }
  #search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
  }
  .filter-btn-container{
    display: flex;
    justify-content: space-between;
  }
  .button-value {
    border: 2px solid #6759ff;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;
  }
  .button-value:hover{
     background-color: #6759ff;
    color: #ffffff; 
  }
  .active {
    background-color: #6759ff;
    color: #ffffff;
  }
  #products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
  }
  .card {
      background-color: #f6f6f6c7;
      max-width: 18em;
      margin-top: 1em;
      padding: 1em;
      border-radius: 5px;
      box-shadow: 1em 2em 2.5em rgb(50 50 50 / 8%);
  }
  .image-container {
    text-align: center;
  }
  img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
  }
  .container {
    padding-top: 1em;
    color: #110f29;
  }
  .container h5 {
    font-weight: 500;
  }
  .hide {
    display: none;
  }
  .nav-bar{
      width: 100%;
      padding: 1.54rem 2rem;
      background-color: #0047ff;
      color: white;
  }
  .navhader{
    width: 50%;
  }
  .navlist {
      width: 50rem;
      display: flex;
      padding: 0px 15px;
  }
  .navlist-item {
      cursor: pointer;
      list-style: none;
      padding: 0px 8px;
      font-size: 16px;
  }
  .navlist-item:hover{
  color: black;
      font-size: 16px;
  }
  .nav-holder{
      width: 100%;
      display: flex;
      justify-content: space-between;
  }
  .nav-list-holder{
     width: 20rem;
  }
  @media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
    .card {
      max-width: 10em;
      margin-top: 1em;
    }
    #products {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    }
  }
  .nav-bar{
      width: 100%;
      padding: 1.54rem 2rem;
      background-color: #0047ff;
      color: white;
  }
  .navhader{
    width: 50%;
  }
  .navlist {
      width: 50rem;
      display: flex;
      padding: 0px 15px;
  }
  .navlist-item {
      cursor: pointer;
      list-style: none;
      padding: 0px 8px;
      font-size: 16px;
  }
  .nav-holder{
      width: 100%;
      display: flex;
      justify-content: space-between;
  }
  .nav-list-holder{
     width: 20rem;
  }